<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.web.crud.dao.mybatis.RoleMapper">

  <resultMap id="UserMap" type="User">

  </resultMap>

  <resultMap id="RoleWithUsersMap" type="RoleWithUsers">
    <id column="role_id" property="id" />
    <result column="role_name" property="name" />
    <collection property="users" resultMap="UserMap"/>
  </resultMap>



  <select id="findAllWithUsers" resultMap="RoleWithUsersMap">
    select a.id ,  a.name ,
    age ,email ,birthday ,salary ,a.is_active ,role_id,
    b.name as role_name
    from crud_user a RIGHT join crud_role b
    on a.role_id = b.id
  </select>

</mapper>