<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.web.crud.dao.mybatis.UserMapper">

  <resultMap id="RoleMap" type="Role">
    <id column="role_id" property="id" />
    <result column="role_name" property="name" />
  </resultMap>

  <resultMap id="UserWithRole" type="UserWithRole">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <association property="role" resultMap="RoleMap"/>
  </resultMap>

  <select id="findAll" resultType="User">
    select id ,  name ,  age ,email ,birthday ,salary ,is_active as active,role_id as roleId
    from crud_user
  </select>


  <insert id="save" parameterType="User">
    INSERT INTO crud_user
    (name, age, email, head, head_url, birthday, salary, gmt_create, gmt_modified, is_active, role_id)
    VALUES(#{name},#{age},#{email},#{head} ,#{headUrl} ...)
  </insert>

  <select id="findAllWithRole" resultMap="UserWithRole">
    select a.id ,  a.name ,
    age ,email ,birthday ,salary ,a.is_active ,role_id,
    b.name as role_name
    from crud_user a left join crud_role b
    on a.role_id = b.id
  </select>

</mapper>